.footerContainer {
    margin: 100px 20px 30px 20px;

    .footerInfo {
        background-color: var(--footer-bg-color);
        border-radius: 20px;
        padding: 5%;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .infoMessagers {
            h3 {
                font-size: 4.5vw;
                font-style: normal;
                font-family: Inter;
                font-weight: 600;
                line-height: 125%;
                color: var(--second-font-color);

                span {
                    color: var(--third-font-color);
                    font-style: italic;
                }
            }

            ul {
                display: flex;

                li {
                    margin: 10px;
                }
            }
        }

        .infoContacts {
            p {
                font-size: 2vw;
                font-style: normal;
                font-family: Inter;
                font-weight: 600;
                line-height: 125%;
                color: var(--second-font-color);
                margin-bottom: 10%;
                margin-left: 0;
            }

            ul {

                li {
                    padding-bottom: 10%;
                    color: var(--second-font-color);

                    #addressLink {
                        color: var(--second-font-color);
                    }

                    #addressLink:hover {
                        text-decoration: underline;
                    }

                    span {
                        margin-left: 2%;
                        font-size: 1.5vw;
                    }

                    .modalMap {
                        display: none;
                        position: fixed;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background-color: rgba(126, 124, 124, 0.562);
                        justify-content: center;
                        align-items: center;

                    .modalContentMap {
                        background-color: #e1d4c9;
                        padding: 20px;
                        border-radius: 20px;
                        text-align: center;
                        max-width: 70%;
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        max-height: calc(100% - 40px);
                        height: 100%;
                        overflow: hidden;
                        box-sizing: border-box;

                          #mapInModal {
                            height: 100%;
                            width: 100%;
                           }
                        }
                      }
                    }
                }
            }
        }
    }




@media screen and (max-width: 579px) {

    .footerContainer {
        margin: 40px 20px 20px 20px;
    }

}    


@media screen and (max-width: 524px) {

    .footerContainer {

        .footerInfo {

            .infoMessagers {

                ul {
                    margin-top: 10px ;
                     li {
                        margin: 0 -7px;

                        a {

                            img {
                                width: 50%; 
                            }
                        }
                     }
                }
            }

            .infoContacts {
                
                ul {
                    li {
                        padding-bottom: 5%;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 420px) {

    .footerContainer {

        .footerInfo {

        .infoContacts {

            ul {
                li {
                    padding-bottom: 1%; 
                    
                    span {
                        font-size: 1.8vw;
                    }
                }
            }
         }
      }
   }
}

@media screen and (max-width: 320px) {

    .footerContainer {

        .footerInfo {

            .infoMessagers {

                ul {
                    margin-top: 5px ;
                    
                     li {
                        margin: 0 -5px;
                        

                        a {
                            

                            img {
                                width: 35%;
                                 
                            }
                        }
                     }
                }
            }

            .infoContacts {

                p {
                    font-size: 3vw;
                }
                
                ul {
                    li {
                        padding-bottom: 2%;

                        img {
                            width: 10%;
                        }

                        a {
                            img {
                                width: 10%;
                            }
                        }
                    }
                }
            }
        }
    }

    


}
