*{
    margin: 0;
    padding: 0;
    font-family: Inter;
}

body {
    background-color: #e1d4c9;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

input, textarea, button {
    border: none;
    background-color: transparent;
}

